<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767650061263-2bk8l7sr9lshf6soa5dldprqob584p8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767650061263-2bk8l7sr9lshf6soa5dldprqob584p8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDd_3Icwq0iOfv9Lyi06tvd1QtA55yIMmM</string>
	<key>GCM_SENDER_ID</key>
	<string>767650061263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZeroBack2Month.QRLess</string>
	<key>PROJECT_ID</key>
	<string>zerobacktomonth</string>
	<key>STORAGE_BUCKET</key>
	<string>zerobacktomonth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767650061263:ios:d9fcad353b6a654c2b10ba</string>
	<key>DATABASE_URL</key>
	<string>https://zerobacktomonth-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>